<footer>
  <%= image_tag "logo.svg", alt: "text", class: "logo" %>
  <ul class="footer-menu">
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Projects</a></li>
  </ul>
  <ul class="social-media">
    <li><a href="#"><%= image_tag "icon-facebook.svg", alt: "text" %></a></li>
    <li><a href="#"><%= image_tag "icon-instagram.svg", alt: "text" %></a></li>
    <li><a href="#"><%= image_tag "icon-twitter.svg", alt: "text" %></a></li>
    <li><a href="#"><%= image_tag "icon-pinterest.svg", alt: "text" %></a></li>
  </ul>
</footer>
